<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.js"></script>

    </head>

    <body>

        <div class="ui container" style="padding-top: 10px;">

        <table class="ui celled table">

            <thead>

                <th>Title</th>

                <th>Author</th>

                <th>#Likes</th>

                <th>#Comments</th>

                <th colspan="3">Label</th>

            </thead>

            <tbody>

                %for row_test, metki in rows:

                <tr>

                    <td><a href="{{ row_test.url }}">{{ row_test.title }}</a></td>

                    <td>{{ row_test.author }}</td>

                    <td>{{ row_test.points }}</td>

                    <td>{{ row_test.comments }}</td>

                    <td>{{metki}}</td>

                    <td class="positive"><a href="/add_label/?label=good&id={{ row_test.id }}">Интересно</a></td>

                    <td class="active"><a href="/add_label/?label=maybe&id={{ row_test.id }}">Возможно</a></td>

                    <td class="negative"><a href="/add_label/?label=never&id={{ row_test.id }}">Не интересно</a></td>

                </tr>

                %end

            </tbody>

            <tfoot class="full-width">

                <tr>

                    <th colspan="7">

                        <a href="/update" class="ui right floated small primary button">I Wanna more Hacker News!</a>

                    </th>

                </tr>

            </tfoot>

        </table>

        </div>

    </body>

</html>